    <div class="fade-block">
        <div class="background-pic"></div>





        <div class="home-grid-container">
            <div class="item item-1">

                <h1>Travel App</h1>
                <h2>Travel Responsibly</h2>
                <div class="home-buttons-holder">

                    <button>Log In Now</button>

                    <button>Log In Now</button>

                </div>
            </div>

            <div class="item item-2">


                <div class="booking-form">
                    <form>
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="roundtrip">
                                    <input type="radio" id="roundtrip" name="flight-type">
                                    <span></span>Roundtrip
                                </label>
                                <label for="one-way">
                                    <input type="radio" id="one-way" name="flight-type">
                                    <span></span>One way
                                </label>
                                <label for="multi-city">
                                    <input type="radio" id="multi-city" name="flight-type">
                                    <span></span>Multi-City
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>
                                    <input class="form-control flying-from autocomplete" id="autocomplete" type="text"
                                        placeholder="City or airport">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying to</span>
                                    <input class="form-control flying-to" type="text" placeholder="City or airport">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input class="form-control departing" type="date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Returning</span>
                                    <input class="form-control returning" type="date" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Adults (18+)</span>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Children (0-17)</span>
                                    <select class="form-control">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Travel class</span>
                                    <select class="form-control">
                                        <option>Economy class</option>
                                        <option>Business class</option>
                                        <option>First class</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="see-flights-btn">
                            <button class="submit-btn">Show flights</button>
                        </div>
                    </form>
                </div>








            </div>




        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">New
            Trip</button>



    </div>




    <!-- Large modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large
        modal</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Vacation Time!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Where would you like to go?</p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
